:root {
    --pickHead: #884ea0;
    --heroText: #884ea0;
    --heroTextBg: #fff;
}

.home {
    .hero {
        background-image: url("../../assets/images/hero.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 25rem;
        width: 100%;
        margin-bottom: 4rem;
        filter: brightness(90%);
    }
    h1 {
        color: var(--pickHead);
        font-weight: bold;
        text-align: center;
    }
    h2 {
        color: var(--heroText);
        width: 100%;
        text-align: left;
        top: 45%;
        position: absolute;
        span {
            background-color: var(--heroTextBg);
            margin-left: 2rem;
            padding: 1rem;
            border: 1px;
            border-radius: 5px;
        }
    }
}
